.url {
  width: 400px;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ddd;
}

.block {
  margin: 1rem 0;
}
